{% extends "./home/base_template.twig" %}


{% block title %}

{% endblock %}


{% block stylesextra %}
    <link href="/css/home.css" rel="stylesheet" media="screen" />
    
{% endblock %}

{% block contentTitle %}
    <div class="container-fluid ">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="brand-heading text-center">Server Statistics </h1>
            </div>
        </div>
        <div class="spacer-sml"></div>
    </div>    
{% endblock %}
{% block contentBody %}

   
{% endblock %}

